<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>G4S Employee Portal</title>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script type="text/javascript" ng-if="false">
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1);
      if (c.indexOf("sessionId=") == 0)  window.location.href = "http://" + window.location.host;
    }
  </script>
  <!-- build:css styles/login.css -->
  <link rel="stylesheet" type="text/css" href="styles/compiled-bootstrap/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="styles/raw/signin.css"/>
  <link rel="stylesheet" type="text/css" href="styles/raw/nprogress.css"/>
  <!-- endbuild -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script data-main="modules/signin-main" src="require.js"></script>

</head>
<body ng-cloak>
<div class="container">
  <div ng-view></div>
</div>

</body>
</html>
