<div class="container-full">
  <div class="text-center">
    <span class="bigass-text" ng-bind="cc.timingService.clock | date:'mediumTime'"></span>
  </div>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button class="btn btn-lg btn-primary"
        ng-click="cc.timingService.timeIn()"
        ng-disabled="cc.timingService.status.message != 'IDLE'">
        <span class="glyphicon glyphicon-log-in"></span>
        &nbsp;
        Time-in
      </button>
    </div>
    <div class="input-group-addon" role="group">
      <i
        ng-class="{'fa fa-spinner fa-spin': cc.timingService.status.type == 'async'}">
      </i>
      <span
        ng-if="cc.timingService.status.message != 'RUNNING'"
        ng-bind="cc.timingService.status.message"
        ng-class="{'text-muted': cc.timingService.status.type == 'async', 'text-danger': cc.timingService.status.type == 'error'}">
      </span>
      <span
        class="text-success"
        ng-if="cc.timingService.status.message == 'RUNNING'"
        ng-bind-template="Running time: {{(cc.timingService.runningTime || 0) | date : 'H \'hrs\' mm \'mins\' ss \'secs\'': '+0000'}}">
      </span>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-lg btn-primary"
        ng-click="cc.timingService.timeOut()"
        ng-disabled="cc.timingService.status.message != 'RUNNING'">
        Time-out
        &nbsp;
        <span class="glyphicon glyphicon-log-out"></span>
      </button>
    </div>
  </div>
</div>
