<form class="form-signin" ng-submit="vm.loginUser()">
  <h2 class=" form-signin-heading">Sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input ng-model="vm.loginEmail" position="top" type="email" id="inputEmail" class="form-control"
         placeholder="Email address" required
         autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input position="bottom" ng-model="vm.password"type="password" id="inputPassword" class="form-control" placeholder="Password" required>

  <button class="btn btn-primary btn-block" type="submit">Sign in</button>
</form>