<a class="list-group-item" ng-model="collapsed" ng-click="collapsedDeductions=!collapsedDeductions">
    <div class="row" tooltip="Click to see detailed deductions" tooltip-disabled="collapsed">
        <div class="col-sm-4 cell-right">
            <label for="total-deductions">Total Deductions:</label>
        </div>
        <div class="col-sm-8 cell-left">
            <span id="total-deductions">PHP {{ pc.selected.totalDeduction | number:2 }}</span>
        </div>
    </div>
</a>
<div collapse="!collapsedDeductions">
    <div class="row">
        </br>
        <div class="col-sm-10 cell-right col-md-offset-1">
            <div class="row" ng-repeat="(key, value) in pc.selected.deductions">
                <div class="col-sm-8 cell-right">
                    <label>{{key | camelCaseToSpaceDelimited}}:</label>
                </div>
                <div class="col-sm-4 cell-left">
                    <span id="{{key}}">PHP {{ value | number:2 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>