<div class="row text-center">
  <h2 ng-bind="ac.calendarTitle"></h2>
  <div class="col-lg-4 col-lg-offset-4">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="ac.calendarDay"
          decrement="ac.calendarView"
          ng-click="ac.requestRecords()">
          Previous
        </button>
      </div>
      <div class="btn-group">
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="ac.calendarDay"
          set-to-today
          ng-click="ac.requestRecords()">
          Current
        </button>
      </div>
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="ac.calendarDay"
          increment="ac.calendarView"
          ng-click="ac.requestRecords()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="alert alert-danger" ng-show="ac.status.type == 'error'">
  <span class="text-danger" ng-bind="ac.status.message"></span>
</div>
<div class="row text-center overlayable">
  <mwl-calendar
    view="ac.calendarView"
    view-title="ac.calendarTitle"
    current-day="ac.calendarDay"
    events="ac.events">
  </mwl-calendar>
  <div class="overlay text-info" ng-show="ac.status.type == 'loading'">
    <div class="overlay-center-element">
      <i class="fa fa-spinner fa-spin fa-5x overlay-center-element">
      </i>
      <div style="margin-top:10px">
        <span ng-bind="ac.status.message"></span>
      </div>
    </div>
  </div>
</div>
