<div ng-switch on="vm.contracts.items.length > 0">
    <div ng-switch-when="true">
		<div ng-init="$index = vm.setIndex($index)" 
			ng-repeat="contract in filtered =  vm.contracts.items  | startFrom:(vm.currentPage-1)*vm.numPerPage | limitTo:vm.numPerPage" class="row" ng-if="$index % 3== 0">
				<div class="col-xs-4">
					<a ng-href='contract-details/{{filtered[$index].customerId}}/{{filtered[$index].id}}/{{vm.currentPage}}'> <h3 ng-bind='filtered[$index].title'></h3> </a>
					<p ng-bind='filtered[$index].summary'> </p>	
				</div>
				<div class="col-xs-4">
					<a ng-href='contract-details/{{filtered[$index + 1].customerId}}/{{filtered[$index + 1].id}}/{{vm.currentPage}}'> <h3 ng-bind='filtered[$index + 1].title'></h3> </a>
					<p ng-bind='filtered[$index + 1].summary'> </p>	
				</div>
				<div class="col-xs-4">
					<a ng-href='contract-details/{{filtered[$index + 2].customerId}}/{{filtered[$index + 2].id}}/{{vm.currentPage}}'> <h3 ng-bind='filtered[$index + 2].title'></h3> </a>
					<p ng-bind='filtered[$index + 2].summary'> </p>	
				</div>  
		</div>

		<pagination ng-model="vm.currentPage" max-size="vm.noOfPages" total-items="vm.totalItems" items-per-page="vm.numPerPage"></pagination>
	</div>
	<div ng-switch-when="false">
	    <h2>
	    	<small>No contracts found</small>
	    </h2>
    </div>
</div>
